<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console appender to output logs to the console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Pattern to log the timestamp, thread, log level, logger name, and message with MDC value (Request-ID) -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [Request-ID=%X{Request-ID}]%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="info">
        <appender-ref ref="console" />
    </root>

</configuration>
